.projects-container {
  width: 100%;
}

.project-list-container {
  display: grid;
  grid-gap: 36px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.project {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit;
}

.dropdowns {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
  user-select: none;

  h3 {
    display: inline-block;
  }

  .clickable-block {
    display: inline-block;
  }

  .select-button {
    display: inline-block;
    cursor: pointer;
    align-items: center;

    img {
      display: inline-block;
    }
  }

  .option {
    position: absolute;
    z-index: 1;
    top: 40px;
    width: 200px;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    display: none;

    li {
      position: relative; //if item is outside bounds shift down.
      padding: 12px 20px;
      cursor: pointer;
    }

    li:hover {
      color: #fff;
    }

    .primary-option:hover {
      background: var(--clr-primary-100);
    }
    .accent-400-option:hover {
      background: var(--clr-accent-400);
    }
    .accent-100-option:hover {
      background: var(--clr-accent-100);
    }
  }
}

.select-button img {
  height: 16px;
  width: 16px;
  display: block;
  transition: 0.3s;
  margin-left: 3px;
}

.dropdown.active .select-button img {
  transform: rotate(-180deg);
}

.dropdown.active .option {
  display: block;
}

// https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp
.overlay {
  min-height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow-x: hidden;
  // margin-top: 30px;
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
