.projects-container {
  width: 100%;
}

.project-list-container {
  display: grid;
  grid-gap: 36px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.project {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit;
}

.dropdown {
  position: relative;
  z-index: 100;
  width: 400px;
  user-select: none;
  margin-bottom: 20px;

  .option {
    position: absolute;
    top: 40px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    display: none;

    li {
      padding: 12px 20px;
      cursor: pointer;
    }

    li:hover {
      background: #62baea;
      color: #fff;
    }
  }
}

.select-button {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.select-button img {
  height: 24px;
  width: 24px;
  display: block;
  transition: 0.3s;
  margin-left: 10px;
}

.dropdown.active .select-button img {
  transform: rotate(-180deg);
}

.dropdown.active .option {
  display: block;
}
