.project-container {
  position: relative;
  cursor: pointer;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  filter: none;
  padding: 10px;

  &:hover {
    // background-color: rgba(128, 128, 128, 0.105);
    // box-shadow: 5px 5px 20px rgb(182, 182, 182);
    background-image: url(../../assets/images/beams.jpeg);
    .project-image {
      animation: enlargeImage 0.25s;
      transform: scale(1.1);
    }
  }
}

.project-container:hover:not(:has(.project-hashtags a:hover)) {
  .click-icon {
    transform: translateX(3px);
    fill: var(--clr-primary-400);
  }

  .project-title {
    color: var(--clr-primary-400);
  }
}

.header a {
  text-decoration: none;
}

.header a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.project-image-container {
  height: 0;
  padding-bottom: 75%;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  grid-column: 1 / 3;
}

.project-image {
  object-fit: cover;
  animation: reduceImage 0.25s;
  height: 100%;
  width: 100%;
  position: absolute;
}

.project-description,
.project-hashtags {
  margin-top: 15px;
}

.project-hashtags {
  display: flex;

  a {
    display: flex;
    position: relative;
    margin-right: 15px;
    text-decoration: none;

    &:hover {
      color: blue;

      .click-icon {
        transform: translateX(0px);
      }
    }

    svg {
      display: inline;
      position: relative;
      width: 1rem;
      margin-right: 2px;
    }
  }
}

.project-info {
  grid-column: 3 / 7;
}

.click-icon {
  transition: transform 0.3s ease;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  margin-left: 5px;
}

.header {
  display: inline-flex;
  align-items: center;
}

@keyframes reduceImage {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
@keyframes enlargeImage {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
