.page-container {
  display: flex;
  justify-content: center;
}

.banner {
  min-height: 100vh;
}

.banner-links {
  margin-top: 20px;
  display: flex;

  li {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    animation: reduceButton 0.25s;

    img {
      padding: 10px;
    }

    &:hover {
      animation: enlargeButton 0.25s;
      transform: scale(1.1);
    }
  }
}

.banner-left-side {
  max-height: 100vh;
  padding: 50px 25px;
}

.banner-right-side {
  display: flex;
  right: 0;
  padding: 50px 25px;
}

.profile-header {
  display: flex;
}

.banner-name {
  margin: 0px;
  opacity: 1;
  transition: opacity 1s;
}

.hide {
  transition: opacity 0.3s;
  opacity: 0;
}

.profile-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 100px;
}

.description {
  margin-top: 20px;
  text-align: justify;
}

.projects-feed {
  display: flex;
  justify-content: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.signature-path {
  opacity: 0;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  max-width: 100%;
  max-height: 100%;
  .animated & {
    opacity: 1;
    animation-name: line;
  }
}

.signature-container {
  position: absolute;
}

.signature {
  max-width: 50%;
  max-height: 4rem;
}

@media (min-width: 1024px) {
  .banner {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0px 50px;
    max-width: 1280px;
  }

  .banner-left-side {
    position: sticky;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    top: 0;
    display: flex;
  }

  .banner-right-side {
    width: 50%;
  }
}

@keyframes line {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes reduceButton {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes enlargeButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
