<div class="page-container">
  <div class="banner ff-primary bg-neutral-200">
    <div class="banner-content">
      <div class="banner-left-side">
        <div class="banner-text">
          <h1 class="fs-title fw-bold banner-name">Oliver P. Lance</h1>
          <h2 class="fs-600 fw-medium">Software Engineer</h2>
          <h3 class="fs-500 fw-regular">My name is Oliver and I graduated from Carnegie Mellon 
            University with a Bachelors of Science in <b>Information Systems</b> and minors in 
            <b>Computer Science</b>, <b>Game Design</b>, <b>Human-Computer Interaction</b>, and <b>Creative Writing</b>.
          </h3>
          <div class="banner-links">
            <button class="bg-neutral-700"></button>
            <button class="bg-neutral-700"></button>
            <button class="bg-neutral-700"></button>
          </div>
        </div>
      </div>
      <div class="banner-right-side">
        <img class="profile-image" src="../assets/banner/profile-image.jpg">
      </div>
      <button class="scroll-button" (click)="scrollToContent()">
        <img src="../assets/icons/chevron-double-down.svg" alt="down arrow">
      </button>
    </div>
  </div>
  <div class="projects" id="projects-content">
    <app-project-list class="projects-feed"></app-project-list>
  </div>
</div>