.page-container {
  display: flex;
  justify-content: center;
}

.banner {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0px 50px;
  min-height: 100vh;
  max-width: 1280px;
}

.banner-name {
  margin: 0px;
}

.banner-links {
  margin-top: 20px;
  display: flex;

  li button {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
}

.banner-left-side {
  max-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  padding: 50px 25px;
}

.banner-right-side {
  width: 50%;
  display: flex;
  right: 0;
  padding: 50px 25px;
}

.profile-image {
  height: auto;
  max-width: 300;
  border-radius: 20px;
}

.profile-header {
  display: flex;
}

.profile-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 100px;
}

.projects {
}

.description {
  margin-top: 20px;
}

.projects-feed {
  display: flex;
  justify-content: center;
}
